.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.tabs .active {
    background-color: var(--warningColor) !important;
}

.tabs button {
    color: gray;
}

.tabs .nav-link:hover:not(.active) {
    color: var(--warningColor);
}

@media (max-width: 768px) {
    #v-pills-tab {
        height: auto !important;
    }
}

/* Radio */

#radioDisplayOptions>div>label {
    min-width: 100px;
}

.inlineWarningRadio {
    color: var(--secondaryColor) !important;
    background-color: var(--primaryColor) !important;
    border-color: var(--primaryColor) !important;
}

#radioDisplayOptions>div>input[type=radio]:hover+.inlineWarningRadio {
    background-color: transparent !important;
    color: var(--primaryColor) !important;
    border-color: var(--primaryColor) !important;

}

#radioDisplayOptions>div>input[type=radio]:checked+.inlineWarningRadio {
    color: var(--secondaryColor) !important;
    background-color: var(--darkerPrimaryColor) !important;
    border-color: var(--darkerPrimaryColor) !important;
}

/* Table */
#tbHeader>tr>th {
    background-color: var(--darkerWarningColor);
    color: var(--secondaryColor);
    border-bottom: 2px solid black
}