:root {
    --primaryColor: #0B488E;
    --secondaryColor: #fff;
    --warningColor: #c7a21e;
    --dangerColor: #c71e32;
}

.textPrimary {
    color: var(--primaryColor) !important;
}

.bgPrimary {
    background-color: var(--primaryColor) !important;
}

.opacity4 {
    opacity: 0.4;
}

.no-wrap {
    white-space: nowrap;
}

pre {
    font-family: Arial, Helvetica, sans-serif;
}

.textWarning {
    color: var(--warningColor) !important;
}

.bgWarning {
    background-color: var(--warningColor) !important;
}

.textDanger {
    color: var(--dangerColor) !important;
}

.bgDanger {
    background-color: var(--dangerColor) !important;
}

.inlinePrimary,
.outlinePrimary:hover {
    color: var(--secondaryColor) !important;
    background-color: var(--primaryColor) !important;
}

.outlinePrimary,
.inlinePrimary:hover {
    background-color: transparent !important;
    color: var(--primaryColor) !important;
    border-color: var(--primaryColor) !important;
}

.inlineWarning,
.outlineWarning:hover {
    color: var(--secondaryColor) !important;
    background-color: var(--warningColor) !important;
}

.outlineWarning,
.inlineWarning:hover {
    background-color: transparent !important;
    color: var(--warningColor) !important;
    border-color: var(--warningColor) !important;
}

.inlineDanger,
.outlineDanger:hover {
    color: var(--secondaryColor) !important;
    background-color: var(--dangerColor) !important;
}

.outlineDanger,
.inlineDanger:hover {
    background-color: transparent !important;
    color: var(--dangerColor) !important;
    border-color: var(--dangerColor) !important;
}