<style>
    :root {
        --primaryColor: #0B488E;
        --secondaryColor: #fff;
    }


    .searchForm {
        position: relative;
    }

    .searchForm input {
        text-indent: 20px;
    }

    .searchForm .fa-search {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .no-wrap {
        white-space: nowrap;
    }

    .textPrimary {
        color: var(--primaryColor);
    }

    .bgPrimary {
        background-color: var(--primaryColor);
    }

    .opacity4 {
        opacity: 0.4;
    }

    
</style>

<div class="container-fluid">
    {{> nav}}

    <div class="row">
        <div class="col-3">
            {{!-- Left slide --}}
            <form class="h-100 bg-white w-100 p-3">
                {{!-- Type --}}
                <div class="checkBox mb-3">
                    <p class="fs-8">Type</p>
                    <div class="ms-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Default checkbox
                            </label>
                        </div>
                    </div>
                </div>
                {{!-- Capacity --}}
                <div class="checkBox mb-3">
                    <p class="fs-8">Capacity</p>
                    <div class="ms-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Default checkbox
                            </label>
                        </div>
                    </div>
                </div>
                {{!-- Price --}}
                <div class="checkBox mb-3">
                    <p class="fs-8">Price</p>
                    <div class="ms-3 ">
                        <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-9">
            {{!-- Main content --}}
            <div class="bg-white d-flex flex-wrap h-100 w-100 p-3 ">
                <div class="card ms-4 me-4 mb-3" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-2 mb-0">CR-V</p>
                        <p class="fw-bold fs-8  text-opacity-25 textPrimary opacity4">SUV</p>
                    </div>
                    <img src="/images/car.png" class="w-100" alt="...">
                    <div class="card-body d-flex flex-row justify-content-between opacity4 textPrimary">
                        <div class="d-flex flex-row align-items-center ">
                            <i class="fa-solid fa-gas-pump"></i>
                            <p class="m-0 ms-1">80l</p>
                        </div>
                        <div class="d-flex flex-row align-items-center ">
                            <i class="fa-solid  fa-gear"></i>
                            <p class="m-0 ms-1">Manual</p>
                        </div>
                        <div class="d-flex flex-row align-items-center ">
                            <i class="fa-solid  fa-user-group"></i>
                            <p class="m-0 ms-1">6 people</p>
                        </div>
                    </div>
                    <div class="card-body d-flex flex-row justify-content-between  textPrimary">
                        <div class="fs-4">$99.0</div>
                        <button type="button" class="btn border-0 btn-primary bgPrimary">
                            BUY NOW
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</div>