:root {
    --primaryColor: #0B488E;
    --secondaryColor: #fff;
    --warningColor: #c7a21e;
    --dangerColor: #c71e32;
}

.textPrimary {
    color: var(--primaryColor) !important;
}

.bgPrimary {
    background-color: var(--primaryColor) !important;
}

.opacity4 {
    opacity: 0.4;
}

.no-wrap {
    white-space: nowrap;
}

pre {
    font-family: Arial, Helvetica, sans-serif;
}

.errMss::-webkit-input-placeholder {
    color: red;
}

/* cua An Ngo */
.textWarning {
    color: var(--warningColor) !important;
}

.bgWarning {
    background-color: var(--warningColor) !important;
}

.textDanger {
    color: var(--dangerColor) !important;
}

.bgDanger {
    background-color: var(--dangerColor) !important;
}

.outlineDanger {
    color: var(--dangerColor) !important;
    border-color: var(--dangerColor) !important;
}

.inlineDanger {
    color: var(--secondaryColor) !important;
    background-color: var(--dangerColor) !important;
}