.tabs .active {
    background-color: var(--primaryColor) !important;
}

.tabs button {
    color: gray;
}

ul {
    list-style: none;
}

.list-disk li {
    list-style: none;
    margin-bottom: 12px;
}

.list-disk li:last-child {
    margin-bottom: 0;
}

/* add */
.single_quick_activity {
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 25px;
    position: relative;
    background: #3b76ef;
    color: antiquewhite;
    height: 100px;
    width: 24%;
}

.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.bold {
    font-weight: bold;
    font-size: 40px;
}

.single_quick_activity {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s, transform 1s;
}

.single_quick_activity.show {
    opacity: 1;
    transform: translateY(0);
}